section.contact-form-area {
    padding: 50px 100px;
    text-align: left;
}



.contact-from {
    padding: 10px 100px 100px 100px;
    text-align: left;
    background-color: #FFF4D6;
    ;
}


.contact-from input {
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 100%;
}

.title-area {
    font-size: 25px;
    text-align: center;

}

.contact-from textarea {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 50px;
    font-size: 18px;
}

.button-style {

    color: #fff;
    background-color: #FF5959;
    font-size: 20px;
    padding: 16px 20px;
    text-decoration: none;
    border-radius: 5px;
}