body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: red;
}

.nav-list li a:hover {
    color: grey;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
    border-radius: 50px;
}

.rightnav {
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 9px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.Well {
    padding-top: 7%;
}

.Orange-color {
    color: rgb(255, 89, 0);
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
    text-align: justify;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 100%;
    height: 70%;

}

.Link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}

.Experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(146, 121, 120);

}

#EMI Website {
    border-left: 7px solid tomato;
}

#Benifit {
    border-left: 7px solid green;
}

.button-style {

    color: #fff;
    background-color: #FF5959;
    font-size: 20px;
    padding: 16px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.subscripe-area {
    margin: 50px 233px;
    text-align: center;
    background: #fff4d6d0;
    padding: 100px;
}

.subscripe-area input {
    padding: 16px 20px;
    font-size: 20px;
    border-radius: 5px 0 0px 5px;
    border: none;
}

.subscripe-area form {
    display: flex;
}

.subscripe-area a.button-style {
    border-radius: 0 5px 5px 0;
}

.footer-area {
    padding: 40px 100px;
    text-align: center;
    background-color: #0B0D17;
}

.footer-area h2 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 36px;
}

.footer-area p {
    color: #fff;
}